<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Cuddle{% endblock %}</title>
  <style>
      body {
        background: #2C2F33;
        color: #fff;
      }

      .container {
        margin: 0 auto;
        width: 800px;
        text-align: center;
      }

      .logo {
        max-height: 256px;
      }
      {% block customStyle %}
      {% endblock %}
  </style>
</head>
<body>
    <div class="container">
        <img class="logo" src="https://i.imgur.com/6A7Y2LD.png" />
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>