{% extends "base.html" %}
{% block title %}
Cuddle bot - Home
{% endblock %}

{% block content %}
{{test}}
<table width="100%">
    <tr>
        <th>Channel name</th>
        <th>Status</th>
    </tr>
    {% for channel in spoiler_channels %}
    <tr>
        <td>#{{channel.name}}</td>
        <td>Spoiler</td>
    </tr>
    {% endfor %}
    {% if anime %}
    <tr>
        <td>#{{anime.name}}</td>
        <td>Anime</td>
    </tr>
    {% endif %}
</table>
{% endblock %}