{% extends "base.html" %}
{% block title %}
Cuddle bot - Fact or crap leaderboard
{% endblock %}

{% block customStyle %}
tr:nth-child(even) {
  background-color: rgba(0,0,0,0.1);
}
{% endblock %}

{% block content %}
<h2>Fact or crap - Leaderboard</h2>
<table width="100%">
    <tr>
        <th>Username</th>
        <th>Correct answers</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.amount}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}